*{
    padding: 0%;
    margin: 0%;
}



.body__fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.ibb.co/7pGrK67/wallpapercomida.png);
    width: 95%;
    height: 100%;
    background-position: center;
}

.main__espacio{
    background-image: url(https://i.ibb.co/JnGpHWB/maderaoscura.jpg);
    background-position: center;
    width: 800px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

.espacio__container{
    border: red 5px solid;
    width: 90%;
    height: 90%;
}

.box1__container--logo{
    background-color: white;
    width: 100%;
    height: 15%;
   
}

.container__logo{
    border: solid brown 5px;
    background-color: rgb(214, 234, 211);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.logo{
    position: absolute;
    width: 100%;
}

.container__picure{
    border: solid orange 5px;
    width: 100%;
    height: 10%;
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 150px);
   grid-template-rows: 50px ;
    row-gap: 25px;
}

.picture{
    width: 130px;
    height: 40px;
    background-color: gray;
    border-radius: 10%;
}

.calculator__container{
    border: solid 5px blue;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;

}


.calculator__special{
    border: pink solid 5px;
    height: 100%;
    width: 20%;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    row-gap: 5px;
}

.special__gridelement{ 
    border: solid whitesmoke 5px;
    width: 100%;
    height: 90%;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
} 

.special__gridelement:hover{
    border: solid rgb(226, 220, 220) 5px;
    background-color: rgb(226, 220, 220);
}

.calculator__food--option{
    border: solid rebeccapurple 5px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.food__gridcontainer{
    border: solid 5px green;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  100px;
    column-gap: 10px;
}


.food__gridelement:hover{
    border: solid 1px black;
    background-color: rgb(226, 220, 220);
}

.food__gridelement{

    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5%;
    

} 





.option__elementos--calcladora{
    border: solid palegreen 5px;
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows:  100px;
    column-gap: 20px;
    align-content: flex-end;
    justify-content: space-between;
}

.option__gridelement--mas{
    border: solid black 5px;
    background-color: whitesmoke;
    display: flex;
    padding-left: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option__gridelement--menos{
    border: solid black 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option__gridelement--igual{
    border: solid black 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option__elementos--calcladora :hover{
    background-color: rgb(226, 220, 220);
}

.container__img--igual{
    width: 80%;
    height: 80%;
    position: relative;
}

.igual{
    position: absolute;
    width: 100%;
    height: 100%;
}



.container__vector{
    width: 50%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
} 

.vector{
    width: 100%;
    height: 100%;
    position: absolute;
}

.text__box--container{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   position: relative;
   padding-top: 10px;
}

.box__text{
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.flex__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__vector2{
    width: 50%;
    height: 60%;
    position: relative;
 
}

.vector2{
    width: 100%;
    height: 100%;
    position: absolute;
   
 
}

.box__text2{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 5px;
}